<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBI_6yjLP1QtX_SM18CJKJ1mr9pIT1QpXU</string>
	<key>GCM_SENDER_ID</key>
	<string>1007477594478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.freepuppyservices.borkbook</string>
	<key>PROJECT_ID</key>
	<string>borkbook-35422</string>
	<key>STORAGE_BUCKET</key>
	<string>borkbook-35422.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007477594478:ios:43c7ac51e402e5a50cc97f</string>
</dict>
</plist>